*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.result__video-container {
  position: relative;
  z-index: 1;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Fira Sans" Condensed;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family:
    "Fira Sans sans-serif"
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding-bottom: 5px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.content__list-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow: auto;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.title .content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__list-item:last-child {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 196px;
}

.content__video-card-description {
  font-family:
    "Fira Sans sans-serif"
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  width: 196px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: #fff;
  width: 225px;
  height: 27px;
  padding: 2.5px 0;
  background-color: transparent;
  appearance: none;
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  border: 1px solid #fff;
  font-family:
    "Fira Sans sans-serif"
    sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.search-form__submit-button {
  width: 193px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 390px;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-thickness: 1px;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
